*.class
*.log
*.iml

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Project specific
PartitionedWithSkew_sf10
data_parquet
spark-warehouse
errors
out
.cache-main
Statistics
Statistics_full
