*.class
*.log
*.iml

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Project specific
partitioned_with_sid_sf10
data_parquet_sf10
spark-warehouse
.cache-main
